<div class="swiper-slide">
    <div class="new-card">
        <div class="card-header">
            <img src="http://www.catalao.go.gov.br/site/v4/upload/noticias/destaque/6845dced4ba2352144c49f399392a125.jpg"
                 alt="">
        </div>
        <div class="card-body">
            <h4>Covid-19: Saúde convoca adolescentes com imunossupressão de 12 a 17 anos para receberem a terceira dose da vacina</h4>
            <p>Catalão segue a todo vapor com o Plano Nacional da Vacinação contra a Covid-19 para crianças. Nesta quarta-feira (25), a primeira dose da vacina pediátrica continuará liberada para todas as crianças que tenham entre 5 e 11 anos de idade.</p>
        </div>
    </div>
</div>