<div class="container news-content">
    <div class="row">
        <div class="col-md-9">
            <span class="news-content-title">Notícias</span>
            {{ include ('news/components/_list_news.html.twig') }}
        </div>
        <div class="col-md-3">
            <span class="news-content-title">Categorias</span>
            {{ include ('news/components/_list_categories.html.twig') }}
        </div>
    </div>
</div>