<a href="/noticias/categoria/id" class="card-news">
    <div class="content-image">
        <img src="http://www.catalao.go.gov.br/site/v4/upload/noticias/destaque/a2f5ce976b3c66027c924bb4d5359771.jpg" alt="">
    </div>
    <div class="content-main">
        <h4 class="content-title">Saúde convoca gestantes e puérperas de 12 a 17 anos e população adulta para receberem
            a Terceira Dose</h4>
        <div class="d-flex">
            <span class="content-date">24/05/2022</span>
            <span class="content-category">Covid-19</span>
        </div>
    </div>
</a>