<ul class="news-content-list list-categories mt-4">
    <li>
        <a href="" class="category-link">Ação Social</a>
    </li>
    <li>
        <a href="" class="category-link">Acordos, Comunicados e Termos</a>
    </li>
    <li>
        <a href="" class="category-link">Agricultura</a>
    </li>
    <li>
        <a href="" class="category-link">Chamamento Público</a>
    </li>
    <li>
        <a href="" class="category-link">Cidade</a>
    </li>
    <li>
        <a href="" class="category-link">Ciência e Tecnologia</a>
    </li>
    <li>
        <a href="" class="category-link">Convocações</a>
    </li>
    <li>
        <a href="" class="category-link">Covid-19</a>
    </li>
    <li>
        <a href="" class="category-link">Cultura</a>
    </li>
    <li>
        <a href="" class="category-link">Educação</a>
    </li>
    <li>
        <a href="" class="category-link">Engenharia de Produção</a>
    </li>
    <li>
        <a href="" class="category-link">Esporte e Lazer</a>
    </li>
    <li>
        <a href="" class="category-link">Finanças</a>
    </li>
    <li>
        <a href="" class="category-link">Fundação Cultural</a>
    </li>
    <li>
        <a href="" class="category-link">Habitação</a>
    </li>
    <li>
        <a href="" class="category-link">Indústria e Comércio</a>
    </li>
    <li>
        <a href="" class="category-link">Ipasc</a>
    </li>
    <li>
        <a href="" class="category-link">Meio Ambiente</a>
    </li>
    <li>
        <a href="" class="category-link">Obras</a>
    </li>
    <li>
        <a href="" class="category-link">Prefeitura</a>
    </li>
    <li>
        <a href="" class="category-link">Processo Seletivo</a>
    </li>
    <li>
        <a href="" class="category-link">Procon</a>
    </li>
    <li>
        <a href="" class="category-link">Procuradoria</a>
    </li>
    <li>
        <a href="" class="category-link">Regulação</a>
    </li>
    <li>
        <a href="" class="category-link">Sae</a>
    </li>
    <li>
        <a href="" class="category-link">Saúde</a>
    </li>
    <li>
        <a href="" class="category-link">Trabalho e Renda</a>
    </li>
    <li>
        <a href="" class="category-link">Trânsito</a>
    </li>
    <li>
        <a href="" class="category-link">Transportes e Infraestrutura</a>
    </li>
    <li>
        <a href="" class="category-link">Vídeos</a>
    </li>
</ul>