<ul class="quick-acess-list d-flex flex-wrap gap-3 mt-3">
    <li>
        <a class="card-link active" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
    <li>
        <a class="card-link" href="/">Boletim Oficial Covid-19</a>
    </li>
</ul>