@import "~bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Open Sans", sans-serif;
}
:root {
    --main: #FAA21C;
    --main-light: #F8B917;
    --secondary: #26893A;
}
