.btn-acessibility {
    position: relative;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
}
.btn-acessibility:hover button {
    color: var(--secondary);
}
.btn-acessibility:hover button i {
    background: var(--secondary);
}
.btn-acessibility button {
    background: transparent;
    border: 0;
    color: #333;
    font-size: 1.125rem;
    font-weight: 600;
    transition: 0.3s;
}
.btn-acessibility i {
    width: 20px;
    height: 20px;
    background: #333;
    margin-right: .5rem;
    transition: 0.3s
}
.modal-accessibility {
    position: absolute;
    right: 0;
    top: 100%;
    width: 248px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.modal-accessibility.show {
    visibility: visible;
    opacity: 1;
}
.modal-accessibility .modal-accessibility-header {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.modal-accessibility .modal-accessibility-header span {
    color: var(--secondary);
    font-weight: 600;
}
.modal-accessibility .modal-accessibility-header button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #333;
    border: 0;
    color: #fff;
    font-size: .75rem;
    transition: .3s;
}
.modal-accessibility .modal-accessibility-header button:hover {
    background: var(--secondary);
}
.modal-accessibility .modal-accessibility-body {
    flex: 1;
    background: #ededed;
    border-radius: 0 0 8px 8px;
}
.modal-accessibility .modal-accessibility-body {
    padding: .75rem;
}
.modal-accessibility .modal-accessibility-body button,
.modal-accessibility .modal-accessibility-body a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: 0.3s;
}
.modal-accessibility .modal-accessibility-body button i {
    background: #333;
    transition: .3s;
}
.modal-accessibility .modal-accessibility-body button:hover i {
    background: var(--secondary);
}
.modal-accessibility .modal-accessibility-body button:hover,
.modal-accessibility .modal-accessibility-body a:hover {
    color: var(--secondary);
}
.modal-accessibility:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 11px 8px;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: calc(80%);
    z-index: 2;
    visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    opacity: 1;
}
.modal-accessibility .modal-accessibility-header {
    padding: .75rem;
}