.nav-top {
    height: 72px;
    width: 100%;
    background: var(--main-light);
}
.header-default .navbar {
    height: 120px;
    background-color: var(--main) !important;
}
.header-default .navbar .brand img{
    height: 80px;
}
.header-default .navbar input:focus{
    border: 0 !important;
}
.header-default .navbar .group-icons i {
    width: 24px;
    height: 24px;
}
.header-default .nav-top .nav-links {
    margin: 0;
    padding: 0;
}
.header-default .nav-top .nav-links li {
    list-style: none;
    margin-right: 2rem;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
}
.header-default .nav-top .nav-links li a {
    color: var(--grey-300);
    font-size: 16px;
    text-decoration: none;
}
.header-default .nav-top .nav-links li.active:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 999;
    background: var(--grey-100);
    border-radius: 4px;
}
.header-default .nav-top .nav-links li.active a {
    font-weight: 700;
    color: var(--grey-100);
}
.header-default .nav-top .nav-links li:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .nav-top {
        display: none !important;
    }
}