.nav-tabs {
    border: 0;
}
.nav-tabs .nav-item .nav-link {
    border: 0;
    font-size: 1.5rem;
    background: transparent;
    font-weight: 600;
    color: var(--grey-500);
    padding: 0;
    margin-right: 48px;
}
.nav-tabs .nav-item .nav-link.active {
    border: 0;
    font-size: 1.5rem;
    background: transparent;
    font-weight: 700;
    color: var(--grey-300);
    padding: 0;
    margin-right: 48px;
    position: relative;
}
.nav-tabs .nav-item .nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 6px;
    width: 0;
    height: 6px;
    background: var(--main-light);
}
.nav-tabs .nav-item .nav-link.active:after {
    width: 80%;
}
.tab-content {
    width: 100%;
    max-width: 928px !important;
}
.card-link {
    width: 160px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background: var(--white);
    text-decoration: none;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 0;
    padding: .75rem 1rem;
}
.card-link i {
    width: 24px;
    height: 24px;
    background: var(--secondary);
    margin-bottom: .5rem;
}
.card-link:hover {
    color: var(--secondary);
}

.tabs-main .card-main {
    width: 160px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--main);
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.tabs-main .card-main i {
    width: 32px;
    height: 32px;
    margin-bottom: .5rem;
}
.input-search-tabs {
    width: 100%;
    max-width: 928px;
    height: 48px;
    position: relative;
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
.input-search-tabs input {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-left: 40px;
    transition: .3s;
}
.input-search-tabs input:focus {
    outline: 0;
    border: 1px solid #26893A;
}
.input-search-tabs button {
    height: 48px;
    width: 160px;
    background: var(--secondary);
    border-radius: 8px;
    border: 0;
    color: #fff;
    font-weight: 600;
    margin-left: .5rem;
}
.input-search-tabs i {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--secondary);
    position: absolute;
    left: .75rem;
}
.stories {
    height: 300px;
    width: 100%;
    background: #2e2e2e;
    padding: 48px 0;
}
.stories .title {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .25rem;
}
.stories p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
.news {
    padding: 64px .75rem;
}
.news .btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 348px;
    height: 48px;
    background: var(--secondary);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
}
.notice-wall {
    padding: 64px 0;
    background: var(--main);
}
.notice-wall .title {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .25rem;
}
.notice-wall p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
.about-city {
    padding: 64px 0;
}
.about-city  .about-city-content {
    width: 100%;
    max-width: 500px;
}
.about-city  .about-city-content .about-city-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 16px;
}
.about-city  .about-city-content .about-city-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 0;
}
.tabs-main {
    flex: 1;
    min-width: 344px;
    max-width: 344px;
}

@media (max-width: 1200px) {
    .nav-tabs .nav-item .nav-link,
    .nav-tabs .nav-item .nav-link.active{
        font-size: 1rem;
        margin-right: 24px;
    }
    .card-link {
        flex: 1;
        min-width: 160px;
    }
    .tabs-main {
        flex: 1;
        min-width: unset;
        max-width: unset;
    }
    .tabs-main .card-main {
        min-width: 160px;
        flex: 1;
    }
    .input-search-tabs {
        padding: 0;
    }
    .about-city  .about-city-content .about-city-title {
        font-size: 1.5rem;
    }
    .about-city  .about-city-content .about-city-description {
        font-size: .875rem;
        font-weight: 400;
        color: var(--text);
        margin-bottom: 0;
    }
}