.icon {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    display: block;
    -webkit-mask-size: 100%!important;
    mask-size: 100%!important;
    background-color: #fff;
    mask-position: center;
    mask-repeat: no-repeat;
    color: transparent;
}
.fa-home {
    mask-image: url('../images/house.svg');
    mask: url('../images/house.svg') no-repeat center;
    -webkit-mask: url('../images/house.svg') no-repeat center;
}
.fa-gavel {
    mask-image: url('../images/gavel-solid.svg');
    mask: url('../images/gavel-solid.svg') no-repeat center;
    -webkit-mask: url('../images/gavel-solid.svg') no-repeat center;
}
.fa-file {
    mask-image: url('../images/file-lines.svg');
    mask: url('../images/file-lines.svg') no-repeat center;
    -webkit-mask: url('../images/file-lines.svg') no-repeat center;
}
.fa-list {
    mask-image: url('../images/list-ol.svg');
    mask: url('../images/list-ol.svg') no-repeat center;
    -webkit-mask: url('../images/list-ol.svg') no-repeat center;
}
.fa-balanced {
    mask-image: url('../images/scale-balanced.svg');
    mask: url('../images/scale-balanced.svg') no-repeat center;
    -webkit-mask: url('../images/scale-balanced.svg') no-repeat center;
}
.fa-chart-pie {
    mask-image: url('../images/chart-pie.svg');
    mask: url('../images/chart-pie.svg') no-repeat center;
    -webkit-mask: url('../images/chart-pie.svg') no-repeat center;
}
.fa-coins {
    mask-image: url('../images/coins-solid.svg');
    mask: url('../images/coins-solid.svg') no-repeat center;
    -webkit-mask: url('../images/coins-solid.svg') no-repeat center;
}
.fa-file-dollar {
    mask-image: url('../images/file-dollar.svg');
    mask: url('../images/file-dollar.svg') no-repeat center;
    -webkit-mask: url('../images/file-dollar.svg') no-repeat center;
}
.fa-hand-dollar {
    mask-image: url('../images/hand-dollar.svg');
    mask: url('../images/hand-dollar.svg') no-repeat center;
    -webkit-mask: url('../images/hand-dollar.svg') no-repeat center;
}
.fa-diary {
    mask-image: url('../images/diary.svg');
    mask: url('../images/diary.svg') no-repeat center;
    -webkit-mask: url('../images/diary.svg') no-repeat center;
}
.fa-building {
    mask-image: url('../images/building.svg');
    mask: url('../images/building.svg') no-repeat center;
    -webkit-mask: url('../images/building.svg') no-repeat center;
}
.fa-siq {
    mask-image: url('../images/siq.svg');
    mask: url('../images/siq.svg') no-repeat center;
    -webkit-mask: url('../images/siq.svg') no-repeat center;
}
.fa-search {
    mask-image: url('../images/search.svg');
    mask: url('../images/search.svg') no-repeat center;
    -webkit-mask: url('../images/search.svg') no-repeat center;
}
.fa-accessible {
    mask-image: url('../images/accessible.svg');
    mask: url('../images/accessible.svg') no-repeat center;
    -webkit-mask: url('../images/accessible.svg') no-repeat center;
}
.fa-close {
    mask-image: url('../images/close.svg');
    mask: url('../images/close.svg') no-repeat center;
    -webkit-mask: url('../images/close.svg') no-repeat center;
}
.fa-instagram {
    mask-image: url('../images/instagram.svg');
    mask: url('../images/instagram.svg') no-repeat center;
    -webkit-mask: url('../images/instagram.svg') no-repeat center;
}
.fa-facebook {
    mask-image: url('../images/facebook.svg');
    mask: url('../images/facebook.svg') no-repeat center;
    -webkit-mask: url('../images/facebook.svg') no-repeat center;
}
.fa-youtube {
    mask-image: url('../images/youtube.svg');
    mask: url('../images/youtube.svg') no-repeat center;
    -webkit-mask: url('../images/youtube.svg') no-repeat center;
}
.fa-export {
    mask-image: url('../images/export.svg');
    mask: url('../images/export.svg') no-repeat center;
    -webkit-mask: url('../images/export.svg') no-repeat center;
}
.fa-pdf {
    mask-image: url('../images/pdf.svg');
    mask: url('../images/pdf.svg') no-repeat center;
    -webkit-mask: url('../images/pdf.svg') no-repeat center;
}
.fa-office {
    mask-image: url('../images/office.svg');
    mask: url('../images/office.svg') no-repeat center;
    -webkit-mask: url('../images/office.svg') no-repeat center;
}
.fa-upload {
    mask-image: url('../images/upload.svg');
    mask: url('../images/upload.svg') no-repeat center;
    -webkit-mask: url('../images/upload.svg') no-repeat center;
}
.fa-half {
    mask-image: url('../images/half.svg');
    mask: url('../images/half.svg') no-repeat center;
    -webkit-mask: url('../images/half.svg') no-repeat center;
}
.fa-google-play {
    mask-image: url('../images/google-play.svg');
    mask: url('../images/google-play.svg') no-repeat center;
    -webkit-mask: url('../images/google-play.svg') no-repeat center;
}
.fa-apple-store {
    mask-image: url('../images/apple-store.svg');
    mask: url('../images/apple-store.svg') no-repeat center;
    -webkit-mask: url('../images/apple-store.svg') no-repeat center;
}
.fa-clock {
    mask-image: url('../images/clock.svg');
    mask: url('../images/clock.svg') no-repeat center;
    -webkit-mask: url('../images/clock.svg') no-repeat center;
}
.fa-linkedin {
    mask-image: url('../images/linkedin.svg');
    mask: url('../images/linkedin.svg') no-repeat center;
    -webkit-mask: url('../images/linkedin.svg') no-repeat center;
}
.fa-twitter{
    mask-image: url('../images/twitter.svg');
    mask: url('../images/twitter.svg') no-repeat center;
    -webkit-mask: url('../images/twitter.svg') no-repeat center;
}
.fa-e-siq{
    mask-image: url('../images/e-siq.svg');
    mask: url('../images/e-siq.svg') no-repeat center;
    -webkit-mask: url('../images/e-siq.svg') no-repeat center;
}
.fa-invoice{
    mask-image: url('../images/nota-fiscal.svg');
    mask: url('../images/nota-fiscal.svg') no-repeat center;
    -webkit-mask: url('../images/nota-fiscal.svg') no-repeat center;
}
.fa-ombudsman{
    mask-image: url('../images/ouvidoria.svg');
    mask: url('../images/ouvidoria.svg') no-repeat center;
    -webkit-mask: url('../images/ouvidoria.svg') no-repeat center;
}
.fa-government{
    mask-image: url('../images/government.svg');
    mask: url('../images/government.svg') no-repeat center;
    -webkit-mask: url('../images/government.svg') no-repeat center;
}
.fa-warning{
    mask-image: url('../images/warning.svg');
    mask: url('../images/warning.svg') no-repeat center;
    -webkit-mask: url('../images/warning.svg') no-repeat center;
}
