.news-content {
    min-height: calc(100vh - 192px);
    padding: 2rem .75rem;
}

.news-content-title {
    width: unset;
    display: compact;
    padding-bottom: 4px;
    font-size: 1.5rem;
    color: var(--grey-300);
    font-weight: 600;
    position: relative;
}

.news-content-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 72px;
    height: 2px;
    background: var(--secondary);
}

.news-content-list {
    padding: 0;
    margin: 0;
}

.news-content-list li {
    list-style: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.news-content .card-news {
    width: 100%;
    height: 100px;
    display: flex;
    text-decoration: none;
    background: var(--white);
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.news-content .card-news .content-image {
    width: 100px;
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
}

.news-content .card-news .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content .card-news .content-main {
    padding: .5rem;
}

.news-content .card-news:hover .content-main .content-title {
    color: var(--main);
}

.news-content .card-news .content-main .content-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey-300);
    transition: .3s;
}

.news-content .card-news .content-main .content-date {
    display: block;
    font-size: .875rem;
    color: var(--grey-500);
    margin-right: 1rem;
}

.news-content .card-news .content-main .content-category {
    display: block;
    font-size: .875rem;
    color: var(--secondary);
    margin-right: 1rem;
}

.list-categories a {
    color: var(--grey-300);
    text-decoration: none;
    transition: .3s;
}

.list-categories a:hover {
    color: var(--main);
}

.news-content-view .content-image {
    width: 720px;
    height: 448px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    margin-bottom: 1.5rem;
}

.news-content-view .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content-view .content-image .created-at {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 4px;
    height: 32px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(24px);
    color: var(--grey-300);
    font-size: .875rem;
    font-weight: 600;
}

.news-content-view .content-image .created-at i {
    background: var(--grey-300);
}

.news-content-view .news-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--grey-300);
    margin-bottom: .75rem;
}

.news-content-view .news-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-500);
    margin-bottom: .75rem;
}

.news-content-view .btn_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    width: 180px;
    height: 48px;
    background-color: #EEEEED;
    border-radius: 48px;
    padding: 0 18px;
    transition: all .2s ease-in-out;
}
.news-content-view .btn_wrap:hover {
    transform: scale(1.1)
}
.news-content-view .btn_wrap span {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    background: var(--main);
    padding: 0 18px;
    transition: 1.2s ease;
}
.btn_wrap:hover span {
    transition-delay: .25s;
    transform: translateX(-280px)
}
.container-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 240px;
    height: 48px;
    border-radius: 48px;
}
.container-icons a i {
    width: 18px;
    height: 18px;
    background: var(--secondary);
    opacity: 0;
    transform: scale(.1);
    transition: all .3s ease;
}
.container-icons a:nth-of-type(1) i {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.container-icons a:nth-of-type(2) i {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.container-icons a:nth-of-type(3) i {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.container-icons a:nth-of-type(4) i {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.btn_wrap:hover a i {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}