.swiper-city-gallery .swiper-slide {
    width: 210px;
    height: 280px;
}
.swiper-city-gallery  .swiper-slide-active {
    width: 232px;
    height: 310px;
}
.swiper-city-gallery .swiper-slide .city-gallery-item {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}
.swiper-city-gallery .swiper-slide .city-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-city-gallery .swiper-wrapper {
    align-items: center;
}
.swiper-city-gallery {
    max-width: 700px;
    margin: 0;
    position: unset !important;
}
.swiper-city-gallery.swiper .swiper-button-prev {
    left: -32px;
}
.swiper-city-gallery.swiper .swiper-button-next {
    right: -32px;
}
.swiper-city-gallery.swiper .swiper-button-next:after,
.swiper-city-gallery.swiper .swiper-button-prev:after {
    color: #B1161B;
    font-size: 24px;
}
@media (max-width: 768px) {
    .swiper-city-gallery.swiper .swiper-button-prev,
    .swiper-city-gallery.swiper .swiper-button-next
    {
        display: none;
    }
}