<div class="btn-acessibility">
    <button class="d-flex align-items-center">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-accessible'}) }}
        Acessibilidade
    </button>
    {{ include ('dashboard/components/_modal_accessibility.html.twig') }}
</div>
