<form class="input-search-mobile">
    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-search'}) }}
    <input type="text" placeholder="O que você procura?">
    <button class="btn-input-search">Buscar</button>
    <button class="btn-cancel">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-close'}) }}
    </button>
</form>
