{% include 'dashboard/components/aside.html.twig' %}
<header class="header-transparencia">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="brand-section">
                <a href="/">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo"/>
                </a>
                <div class="d-flex align-items-center">
                    <button class="btn-search">
                        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-search'}) }}
                    </button>
                    {% include 'dashboard/components/_input_search_mobile.html.twig' %}
                    <button id="btn-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
                <div class="d-flex h-100 gap-2 align-items-center justify-content-between w-100 px-3">
                    <div class="d-flex flex-column">
                        <h4>Acesso à Informação</h4>
                        <span>Página inicial > Acesso à informação > Licitações</span>
                    </div>
                    {% include 'dashboard/components/_input_search.html.twig' %}
                    {% include 'dashboard/components/_btn_accessibility.html.twig' %}
                </div>
            </div>
        </div>
    </nav>
</header>