<div class="swiper-slide swiper-slide-story-view">
    <div class="swiper story-view-gallery">
        <div class="swiper-wrapper">
            {{ include('components/stories_view/_slide.html.twig') }}
            {{ include('components/stories_view/_slide.html.twig') }}
            {{ include('components/stories_view/_slide.html.twig') }}
        </div>
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>