<div class="w-100" style="position: relative; max-width: 700px">
    <div class="swiper swiper-city-gallery">
        <div class="swiper-wrapper">
            {{include ('home/components/_city_swiper_gallery_slide.html.twig')}}
            {{include ('home/components/_city_swiper_gallery_slide.html.twig')}}
            {{include ('home/components/_city_swiper_gallery_slide.html.twig')}}
            {{include ('home/components/_city_swiper_gallery_slide.html.twig')}}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
