<div class="new-card-main">
    <div class="card-header">
        <img src="http://www.catalao.go.gov.br/site/v4/upload/noticias/destaque/6845dced4ba2352144c49f399392a125.jpg" alt="">
        <div class="card-category">
            <span>Categoria</span>
        </div>
        <div class="card-created-at">
            <span>02/05/2022</span>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Adib e Caiado assinam autorização para construção do Hospital Regional de Catalão</h4>
        <p class="card-subtitle">Dando continuidade ao “mega pacote” de obras em andamento na cidade de Catalão, o prefeito Adib Elias, ao lado do governador Ronaldo Caiado...</p>
    </div>
</div>