<div class="swiper-slide">
    <div class="notice-wall-item">
        <span class="notice-wall-text">EDITAL DE TERMO DE CONSTATAÇÃO E INTIMAÇÃO Nº 00006, 02 DE MAIO DE 2022.</span>
        <span class="notice-wall-created-at">20/05/2022</span>
    </div>
</div>