<div class="swiper-slide">
    <div class="story-item">
        <img src="http://www.catalao.go.gov.br/site/v4/upload/noticias/destaque/6845dced4ba2352144c49f399392a125.jpg"
             alt="">
    </div>
</div>