<div class="tabs-main d-flex flex-wrap justify-content-end mt-4 gap-4">
    <a class="card-main">
        Portal da Transparência
    </a>
    <a class="card-main">
        Secretaria e Governo
    </a>
    <a class="card-main">
        Nota Fiscal
        Eletrônica
    </a>
    <a class="card-main">
        Ouvidoria Geral
    </a>
</div>