<div class="tabs-main d-flex flex-wrap justify-content-end mt-4 gap-4">
    <a class="card-main">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-e-siq'}) }}
        Portal da Transparência
    </a>
    <a class="card-main">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-government'}) }}
        Secretaria e Governo
    </a>
    <a class="card-main">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-invoice'}) }}
        Nota Fiscal
        Eletrônica
    </a>
    <a class="card-main">
        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-ombudsman'}) }}
        Ouvidoria Geral
    </a>
</div>