<div class="input-search-tabs">
    <input type="text" placeholder="Digite o número do seu processo">
    {{include ('components/_icon.html.twig', {'icon_name': 'fa-search'})}}
    <button>Buscar</button>
</div>