<tr>
    <th scope="row">1</th>
    <td><a href="/transparencia/licitacoes/1">Pregão Presencial 007/2022</a></td>
    <td id="price-item">R$ 146.600,00</td>
    <td>19/05/2022</td>
    <td id="description-table">
        <p>
            CONTRATAÇÃO DE SERVIÇOS DE ENGENHARIA ELÉTRICA COM FORNECIMENTO DE MATERIAIS PARA CONSTRUÇÃO DE REDE
            ELÉTRICA MONOFÁSICA CERCA DE 400 M RDR 13,8 KV, COM INSTALAÇÃO DE UM TRAFO DE 10 KVA PARA O CEMITÉRIO
            MUNICIPAL DAS PEROBAS
        </p>
    </td>
</tr>