{% extends 'base.html.twig' %}
{% set route_name = app.request.attributes.get('_route') %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    {{ include ('dashboard/components/navbar.html.twig', {'route_name': route_name}) }}
    <div class="content-dashboard">
        <div class="dashboard-home row">
            <div class="col-md-4">
                <ul>
                    <span class="title">Acesso à Informação LEI 12.527/11</span>
                    <li>
                        <a href="">Estrutura Organizacional</a>
                    </li>
                    <li>
                        <a href="">Licitações</a>
                    </li>
                    <li>
                        <a href="">Contratos</a>
                    </li>
                    <li>
                        <a href="">Convênios</a>
                    </li>
                    <li>
                        <a href="">Perguntas Frequentes</a>
                    </li>
                    <li>
                        <a href="">Dispensas e Inexigibilidades</a>
                    </li>
                    <li>
                        <a href="">Atas de Registro de Preço</a>
                    </li>
                    <li>
                        <a href="">SIC - Serviço de Informação ao Cidadão</a>
                    </li>
                </ul>
                <ul>
                    <span class="title">Responsabilidade Fiscal LC 101/00</span>
                    <li>
                        <a href="">Prestação de Contas (Balanço Anual)</a>
                    </li>
                    <li>
                        <a href="">Relatórios Resumido de Execução Orçamentária</a>
                    </li>
                    <li>
                        <a href="">Relatórios de Gestão Fiscal</a>
                    </li>
                    <li>
                        <a href="">Planejamento Orçamentário</a>
                    </li>
                    <li>
                        <a href="">Renúncias Fiscais</a>
                    </li>
                    <li>
                        <a href="">Parecer do Tribunal de Contas</a>
                    </li>
                    <li>
                        <a href="">Metas e Riscos Fiscais</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <span class="title">Transparência LC 131/09</span>
                    <li>
                        <a href="">Folha de Pagamento</a>
                    </li>
                    <li>
                        <a href="">Despesas</a>
                    </li>
                    <li>
                        <a href="">Receitas</a>
                    </li>
                    <li>
                        <a href="">Diárias e Passagens</a>
                    </li>
                    <li>
                        <a href="">Transferências Concedidas</a>
                    </li>
                </ul>
                <ul>
                    <span class="title">Ouvidoria</span>
                    <li>
                        <a href="">SIC - Serviço de Informação ao Cidadão</a>
                    </li>
                    <li>
                        <a href="">Reclamações</a>
                    </li>
                    <li>
                        <a href="">Sugestões</a>
                    </li>
                    <li>
                        <a href="">Denúncias</a>
                    </li>
                    <li>
                        <a href="">Elogios</a>
                    </li>
                    <li>
                        <a href="">Solicitação</a>
                    </li>
                </ul>
                <ul>
                    <span class="title">Concursos e Seleções</span>
                    <li>
                        <a href="">Concursos Públicos</a>
                    </li>
                    <li>
                        <a href="">Eleição de Conselhos Municipais</a>
                    </li>
                    <li>
                        <a href="">Processos Seletivos</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <span class="title">Legislação Municipal</span>
                    <li>
                        <a href="">Portarias</a>
                    </li>
                    <li>
                        <a href="">Decretos</a>
                    </li>
                    <li>
                        <a href="">Leis</a>
                    </li>
                </ul>
                <ul>
                    <span class="title">Outras Informações</span>
                    <li>
                        <a href="">Referências Normativas</a>
                    </li>
                    <li>
                        <a href="">Glossário e Termos Técnicos</a>
                    </li>
                    <li>
                        <a href="">Planos Municipais</a>
                    </li>
                    <li>
                        <a href="">Relatório Anual de Gestão</a>
                    </li>
                    <li>
                        <a href="">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="">Carta de Serviços aos Usuários</a>
                    </li>
                    <li>
                        <a href="">Vacinação da Covid-19</a>
                    </li>
                </ul>
                <ul>
                    <span class="title">Site Oficial</span>
                    <li>
                        <a href="">Página Inicial</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
