<div class="tab-pane fade show" id="collaborator" role="tabpanel" aria-labelledby="collaborator-tab">
    <div class="d-flex flex-wrap gap-4">
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'SERVIÇOS ONLINE', 'link': 'http://transparencia.catalao.go.gov.br/sig/app.html#/servicosonline/index', 'target': 'true','': 'fa-hand-dollar'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'PORTAL DO SERVIDOR', 'link': 'http://transparencia.catalao.go.gov.br/sig/app.html#/servicosonline/portal-servidor', 'target': 'true','': 'fa-hand-dollar'})}}

    </div>
</div>